[submodule "business-services/team-service"]
	path = business-services/team-service
	url = git@github.com:Natalya-Talalova/team-management-service.git
[submodule "business-services/user-profile-service"]
	path = business-services/user-profile-service
	url = git@github.com:HeadMaxResh/Profile.git
[submodule "web"]
	path = web
	url = git@github.com:doctorwhat1/next-js-app.git