[submodule "business-services/team-management-service"]
	path = business-services/team-management-service
	url = https://github.com/Natalya-Talalova/team-management-service
[submodule "business-services/user-profile-service"]
	path = business-services/user-profile-service
	url = https://github.com/HeadMaxResh/Profile
[submodule "web"]
	path = web
	url = https://github.com/doctorwhat1/next-js-app
